*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  width:100%;
  max-width:1024px;
  margin:20px auto;
  border:2px solid indigo;
  border-radius:2px;
}

header{
  height:100px;
  background-color:indigo;
  color:white;
  padding:0 20px;
}

h1{
  line-height:100px;
}

main > p {
  padding: 20px;
}


article {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.pokemon-card {
  border:4px solid goldenrod;
  border-radius:2px;
  padding:20px;
  max-width:33%;
  width:250px;
}

.pokemon-card h3 {
  margin-bottom:10px;
}

.pokemon-card div {
  display: flex;
  justify-content: space-between;
  margin-bottom:10px;

}

.pokemon-card img {
  width: 100%;
  border:2px solid goldenrod;
  border-radius:2px;
  background-color:white;
}

.grass {
  background-color: olivedrab;
}

.fire {
  background-color: orangered;
}

.water {
  background-color: aqua;
}